<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>zz.gg</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="static/css/chanjong.css">
</head>

<body>
  <nav class="navbar">
    <div class="container-fluid nav-bg">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand logo-color" href="#">WebSiteName</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="#" class="lol">League of Legends</a></li>


      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><button type="button" class="btn btn-default login">로그인</button></li>
      </ul>
    </div>
    <div class="container-fluid nav-bg2">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
            <li><a href="#">Page 4</a></li>
            <li><a href="#">Page 5</a></li>

          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="Search"> <input type="text" class="form-control" placeholder="Search"></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <!-- nav -->
  <div class="container-fluid summary">
    <div class="container">
      <div class="SummonerHeader">
        <div class="PastRank">
          <ul class="PastRankList">
            <li class="Item">S4 Platinum</li>
            <li class="Item">S5 Platinum</li>
            <li class="Item">S6 Gold</li>
            <li class="Item">S7 Silver</li>
            <li class="Item">S8 Silver</li>
            <li class="Item">S9 Gold</li>
          </ul>
        </div>
        <div class="row">
          <div class="Face">
            <div class="col-sm-2">
              <div class="ProfileIcon">
                <img src="static/images/profileIcon4223.jpg" alt="" class="ProfileImage">
              </div>
            </div>
            <div class="col-sm-10">
              <span class="Name">{{ user_data.name }}</span>
              <button type="button" name="button" class="FavoriteButton">즐겨찾기</button>
              <div class="Button SemiRound Blue">전적 갱신</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- summary -->

  <div class="container-fluid MenuList tabHeaders">
    <div class="container">
      <div class="row">
        <ul class="nav navbar-nav tab">
          <li class="Item tabHeader active"><a href="#">종합</a></li>
          <li><a href="#">챔피언</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="left_all">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="row SummonerRatingMedium">
            <div class="col-sm-4">
              <img src="static/images/gold_3.png" alt="" class="Images">
            </div>
            <div class="col-sm-8">
              <p>솔로랭크</p>

              {% if league_data[0].rank_tier == 'UN_RANK' %}

                <p>UNRANK</p>

              {% else %}

                <p>{{ league_data[0].rank_tier }} {{ league_data[0].rank_level }}</p>
                <p>{{ league_data[0].rank_point }} LP / {{ league_data[0].win_count }}승 {{ league_data[0].lose_count }}패</p>
                <P>승률 {{ (league_data[0].win_count / (league_data[0].win_count + league_data[0].lose_count) * 100)|round|int }}%</P>
              {% endif %}
            </div>
          </div>
          <!-- SummonerRatingMedium end -->
          <div class="row sub-tier">
            <div class="col-sm-4">
              <img src="static/images/default.png" alt="" class="Images">
            </div>
            <div class="col-sm-8">
              <p>자유 5:5 랭크</p>

              {% if league_data[1].rank_tier == 'UN_RANK' %}

                <p>UNRANK</p>

              {% else %}
              
                <p>{{ league_data[1].rank_tier }} {{ league_data[1].rank_level }}</p>
                <p>{{ league_data[1].rank_point }} LP / {{ league_data[1].win_count }}승 {{ league_data[1].lose_count }}패</p>
                <P>승률 {{ (league_data[1].win_count / (league_data[1].win_count + league_data[1].lose_count) * 100)|round|int }}%</P>
              {% endif %}
            </div>
          </div>
          <!-- sub-tier -->
          <div class="row TabList tabHeaders">
            <div class="col-sm-12">
              <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#menu1">S9 전체</a></li>
                <li><a data-toggle="tab" href="#menu2">솔로랭크</a></li>
                <li><a data-toggle="tab" href="#menu3">자유랭크5v5</a></li>
                <li><a data-toggle="tab" href="#menu4">자유랭크3v3</a></li>
              </ul>

              <div class="tab-content">
                <div id="menu1" class="tab-pane fade in active">

                </div>
                <div id="menu1" class="tab-pane fade">

                </div>
                <div id="menu2" class="tab-pane fade">

                </div>
                <div id="menu3" class="tab-pane fade">

                </div>
                <div id="menu4" class="tab-pane fade">

                </div>
              </div>
            </div>
          </div>
          <!-- tab end -->
        </div>
        <!-- left end -->
        <div class="col-sm-8">
          <div class="GameItemList">
            <!-- 원활한 테스트를 위해서 최근 5게임의 정보만 가져옴 추후 수정예정-->
            <!-- 유저 10명의 데이터 추가 아직 피아식별 정보 파악안함-->
            {% for i in range(5) %}
            <div class="GameItemWrap">
              <div class="GameItem Lose">
                <div class="Content">
                  <div class="GameStats">
                    <div class="GameType">
                      일반
                    </div>
                    <div class="TimeStamp">
                      <span class="_timeago _timeCountAssigned tip" data-datetime="1575016409" data-type="" data-interval="60" title="2019년 11월 29일 오후 5시 33분">14일 전</span>
                    </div>
                    <div class="Bar"></div>
                    <div class="GameResult">
                      패배
                    </div>
                    <div class="GameLength">29분 35초</div>
                  </div>
                  <div class="GameSettingInfo">
                    <div class="ChampionImage">
                      <a href="#">
                        <img src="static/images/Senna.png" class="Image" alt="세나">
                      </a>
                    </div>
                    <div class="SummonerSpell">
                      <div class="Spell">
                        <img src="static/images/SummonerFlash.png" class="Image tip" title="점멸 커서 방향으로 챔피언이 짧은 거리를 순간이동 합니다." alt="점멸">
                      </div>
                      <div class="Spell">
                        <img src="static/images/SummonerDot.png" class="Image tip" title="점화 적 챔피언을 불태워 5초동안 70~410의 고정피해(챔피언 레벨에 따라 변동)를 입히고 모습을 드러내며 치료효과를 감소시킵니다." alt="점화">
                      </div>
                    </div>
                    <div class="Runes">
                      <div class="Rune">
                        <img src="static/images/8214.png" class="Image tip"
                          title="콩콩이 소환 기본 공격 또는 스킬 사용시 대상에게 콩콩이를 날려 적 챔피언에게 피해를 입히거나 아군에게 보호막을 씌워줍니다. 피해량: 레벨에 따라 10~40(+주문력의 0.1 및 +추가 공격력의 0.15) 보호막 : 레벨에 따라 35~80(+주문력의 0.25 및 추가 공격력의 0.4) 콩콩이는 자신에게 돌아오기 전까지 다른 대상에게 보낼 수 없습니다. " alt="콩콩이 소환">
                      </div>
                      <div class="Rune">
                        <img src="static/images/8300.png" class="Image tip" title="영감 다양한 방식의 전투 보조" alt="영감">
                      </div>
                    </div>
                    <div class="ChampionName">
                      <a href="#" target="_blank">{{game_data[i].champion}}</a>
                    </div>
                  </div>
                  <div class="KDA">
                    <div class="KDA">
                      <span class="Kill">5</span> /
                      <span class="Death">7</span> /
                      <span class="Assist">21</span>
                    </div>
                    <div class="KDARatio">
                      <span class="KDARatio">3.71:1</span> 평점
                    </div>
                    <div class="Badge">
                      <span class="Text ACE">ACE</span>
                    </div>
                  </div>
                  <div class="Stats">
                    <div class="Level">
                      레벨14
                    </div>
                    <div class="CS">
                      <span class="CS tip tpd-delegation-uid-1" title="">44 (1.5)</span>
                      CS
                    </div>
                    <div class="CKRate tip tpd-delegation-uid-1" title="">
                      킬관여 74%
                    </div>
                  </div>
                  <div class="Items">
                    <div class="ItemList">
                      <div class="Item">
                        <img src="static/images/3117.png" class="Image tip tpd-delegation-uid-1" title="기동력의 장화" alt="기동력의 장화">
                      </div>
                      <div class="Item">
                        <img src="static/images/3864.png" class="Image tip tpd-delegation-uid-1" title="검은 안개낫" alt="검은 안개낫">
                      </div>
                      <div class="Item">
                        <img src="static/images/3142.png" class="Image tip tpd-delegation-uid-1" title="요우무의 유령검" alt="요우무의 유령검">
                      </div>
                      <div class="Item">
                        <img src="static/images/3364.png" class="Image tip tpd-delegation-uid-1" title="예언자의 렌즈" alt="예언자의 렌즈">
                      </div>
                      <div class="Item">
                        <img src="static/images/3504.png" class="Image tip tpd-delegation-uid-1"
                          title="불타는 향로 다른 유닛에게 보호막과 치유 효과를 쓰면 잠깐 동안 대상과 자신의 공격 속도가 상승합니다. 또한 이 상태에서 기본 공격이 적중하면 추가 마법 피해를 입힙니다. 주문력 +60 재사용 대기시간 감소 +10% 기본 마나 재생 +50% 고유 지속 효과: 회복 및 보호막 효과 +10% 고유 지속 효과: 이동 속도 +8% 고유 지속 효과: 아군을 치유하거나 보호막을 씌워주면 자신과 대상 아군의 공격 속도가 10% ~ 30% 상승합니다. 또한 이 상태에서 공격이 적중하면 6초 동안 5 ~ 20의 추가 마법 피해를 입힙니다. 재생 효과에는 적용되지 않습니다. 추가 효과는 대상의 레벨에 따라 달라집니다. 가격:2300 (650)"
                          alt="불타는 향로">
                      </div>
                      <div class="Item">
                        <img src="static/images/3179.png" class="Image tip tpd-delegation-uid-1"
                          title="그림자 검 주기적으로 덫 및 와드를 감지할 수 있습니다 공격력 +50 재사용 대기시간 감소 +10% 고유 지속 효과 물리 관통력 +12 고유 지속 효과 - 암전: 적 와드에 발각되면 8초간 암전을 일으켜 근처의 투명한 덫과 와드를 드러내고, 추가로 와드를 무력화시킵니다. (재사용 대기시간 45초) 모습이 드러난 덫은 기본 공격 시 즉시 파괴되며 와드는 세 배의 피해를 입습니다. 가격: 2400 (600)"
                          alt="그림자 검">
                      </div>
                      <div class="Item">
                        <img src="static/images/1038.png" class="Image tip tpd-delegation-uid-1" title="B.F. 대검" alt="B.F. 대검">
                      </div>
                      <button class="Button OpenBuildButton tip" title="빌드" type="button">
                        <img class="On" src="static/images/icon-buildred-p.png">
                        <img class="Off" src="static/images/icon-buildred-p.png">
                      </button>
                    </div>
                    <div class="Trinket">
                      <img src="static/images/icon-ward-red.png."> 제어 와드
                      <span class="ward vision">1</span>
                    </div>
                  </div>
                  <div class="FollowPlayers Names">
                    <div class="Team">
                      <div class="Summoner">
                        <div class="ChampionImage">
                          <div class="Image16 __sprite __spc16 __spc16-71 tip tpd-delegation-uid-1" title="">마스터 이</div>
                          <div class="Image20 __sprite __spc20 __spc20-71 tip" title="마스터 이">마스터 이
                            <div class="Image20 __sprite __spc20 __spc20-71 tip" title="마스터 이">마스터 이</div>
                          </div>
                        </div>
                        <div class="SummonerName">
                          <a href="#" class="Link" target="_blank">{{ detail_data[i][0][0].summonerName }}
                            {% for v in range(7) %}{{detail_data[i][1][0][v]}}{% endfor %}</a>
                        </div>
                      </div>
                      <div class="Summoner">
                        <div class="ChampionImage">
                          <div class="Image16 __sprite __spc16 __spc16-137 tip" title="신 짜오">신 짜오</div>
                          <div class="Image20 __sprite __spc20 __spc20-137 tip" title="신 짜오">신 짜오</div>
                        </div>
                        <div class="SummonerName">
                          <a href="#l" class="Link" target="_blank">{{ detail_data[i][0][1].summonerName }}</a>
                        </div>
                      </div>
                      <div class="Summoner">
                        <div class="ChampionImage">
                          <div class="Image16 __sprite __spc16 __spc16-40 tip tpd-delegation-uid-1" title="">이렐리아</div>
                          <div class="Image20 __sprite __spc20 __spc20-40 tip" title="이렐리아">이렐리아</div>
                        </div>
                        <div class="SummonerName">
                          <a href="#" class="Link" target="_blank">{{ detail_data[i][0][2].summonerName }}</a>
                        </div>
                      </div>
                      <div class="Summoner">
                        <div class="ChampionImage">
                          <div class="Image16 __sprite __spc16 __spc16-8 tip" title="애쉬">애쉬</div>
                          <div class="Image20 __sprite __spc20 __spc20-8 tip" title="애쉬">애쉬</div>
                        </div>
                        <div class="SummonerName">
                          <a href="#" class="Link" target="_blank">{{ detail_data[i][0][3].summonerName }}</a>
                        </div>
                      </div>
                      <div class="Summoner">
                        <div class="ChampionImage">
                          <div class="Image16 __sprite __spc16 __spc16-110 tip tpd-delegation-uid-1" title="">스웨인</div>
                          <div class="Image20 __sprite __spc20 __spc20-110 tip" title="스웨인">스웨인</div>
                        </div>
                        <div class="SummonerName">
                          <a href="#" class="Link" target="_blank">{{ detail_data[i][0][4].summonerName }}</a>
                        </div>
                      </div>
                    </div>
                    <div class="Team">
                      <div class="Summoner">
                        <div class="ChampionImage">
                          <div class="Image16 __sprite __spc16 __spc16-90 tip" title="퀸">퀸</div>
                          <div class="Image20 __sprite __spc20 __spc20-90 tip" title="퀸">퀸</div>
                        </div>
                        <div class="SummonerName">
                          <a href="#" class="Link" target="_blank">{{ detail_data[i][0][5].summonerName }}</a>
                        </div>
                      </div>
                      <div class="Summoner">
                        <div class="ChampionImage">
                          <div class="Image16 __sprite __spc16 __spc16-99 tip" title="세주아니">세주아니</div>
                          <div class="Image20 __sprite __spc20 __spc20-99 tip" title="세주아니">세주아니</div>
                        </div>
                        <div class="SummonerName">
                          <a href="#" class="Link" target="_blank">{{ detail_data[i][0][6].summonerName }}</a>
                        </div>
                      </div>
                      <div class="Summoner">
                        <div class="ChampionImage">
                          <div class="Image16 __sprite __spc16 __spc16-131 tip" title="빅토르">빅토르</div>
                          <div class="Image20 __sprite __spc20 __spc20-131 tip" title="빅토르">빅토르</div>
                        </div>
                        <div class="SummonerName">
                          <a href="#" class="Link" target="_blank">{{ detail_data[i][0][7].summonerName }}</a>
                        </div>
                      </div>
                      <div class="Summoner">
                        <div class="ChampionImage">
                          <div class="Image16 __sprite __spc16 __spc16-8 tip" title="애쉬">애쉬</div>
                          <div class="Image20 __sprite __spc20 __spc20-8 tip" title="애쉬">애쉬</div>
                        </div>
                        <div class="SummonerName">
                          <a href="#" class="Link" target="_blank">{{ detail_data[i][0][8].summonerName }}</a>
                        </div>
                      </div>
                      <div class="Summoner Requester">
                        <div class="ChampionImage">
                          <div class="Image16 __sprite __spc16 __spc16-100 tip" title="세나">세나</div>
                          <div class="Image20 __sprite __spc20 __spc20-100 tip" title="세나">세나</div>
                        </div>
                        <div class="SummonerName">
                          <a href="#" class="Link" target="_blank">{{ detail_data[i][0][9].summonerName }}</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="StatsButton">
                    <div class="Content">
                      <div class="Item">
                        <a id="right_match" class="Button MatchDetail" href="#">
                          <span class="__spSite __spSite-198 Off"></span>
                          <span class="__spSite __spSite-197 On"></span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="GameDetail"></div>
              </div>
            </div>
            
            {% endfor %}
            <!-- 최근 매칭데이터 for문 종료 -->
            <div class="GameItemWrap">
              <div class="GameItem Win  " data-summoner-id="46770658" data-game-time="1575393796" data-game-id="4007662841" data-game-result="win">
                <div class="Content">
                  <div class="GameStats">
                    <div class="GameType">
                      일반
                    </div>
                    <div class="TimeStamp"><span class="_timeago _timeCountAssigned tip" data-datetime="1575393796" data-type="" data-interval="60" title="2019년 12월 4일 오전 2시 23분">10일 전</span></div>
                    <div class="Bar"></div>
                    <div class="GameResult">
                      승리 </div>
                    <div class="GameLength">31분 44초</div>

                  </div>
                  <div class="GameSettingInfo">
                    <div class="ChampionImage">
                      <a href="#" target="_blank">
                        <img src="static/images/Darius.png" class="Image" alt="다리우스">
                      </a>
                    </div>

                    <div class="SummonerSpell">
                      <div class="Spell">
                        <img src="static/images/SummonerFlash.png" class="Image tip tpd-delegation-uid-1" title="" alt="점멸">
                      </div>
                      <div class="Spell">
                        <img src="static/images/SummonerHaste.png" class="Image tip" title="유체화 챔피언이 10초 동안 유닛과 충돌하지 않게 되며 이동 속도가 상승합니다. 이동 속도는 2초 동안 점차 빨라져 레벨에 따라 최대 28~45%까지 상승합니다." alt="유체화">
                      </div>
                    </div>
                    <div class="Runes">
                      <div class="Rune">
                        <img src="static/images/8010.png" class="Image tip tpd-delegation-uid-1" title="" alt="정복자">
                      </div>
                      <div class="Rune">
                        <img src="static/images/8400.png" class="Image tip tpd-delegation-uid-1" title="" alt="결의">
                      </div>
                    </div>
                    <div class="ChampionName">
                      <a href="#" target="_blank">다리우스</a>
                    </div>
                  </div>
                  <div class="KDA">
                    <div class="KDA">
                      <span class="Kill">17</span> /
                      <span class="Death">6</span> /
                      <span class="Assist">8</span>
                    </div>
                    <div class="KDARatio">
                      <span class="KDARatio ">4.17:1</span> 평점 </div>
                    <div class="MultiKill">
                      <span class="Kill">트리플킬</span>
                    </div>
                    <div class="Badge"><span class="Text MVP">MVP</span></div>
                  </div>
                  <div class="Stats">
                    <div class="Level">
                      레벨17
                    </div>
                    <div class="CS">
                      <span class="CS tip tpd-delegation-uid-1" title="">225 (7.1)</span> CS
                    </div>
                    <div class="CKRate tip" title="킬관여율">
                      킬관여 69%
                    </div>
                  </div>
                  <div class="Items">
                    <div class="ItemList">
                      <div class="Item">
                        <img src="static/images/3111.png" class="Image tip"
                          title="헤르메스의 발걸음 이동 속도가 증가하고, 방해 효과의 지속시간이 줄어듭니다. 1개만 구입 가능합니다. 마법 저항력 +25 고유 지속 효과 - 이동 속도 향상: 이동 속도 +45 고유 지속 효과 - 강인함: 기절, 둔화, 도발, 공포, 침묵, 실명, 변이 및 이동 불가 효과의 지속시간이 30% 감소합니다. 가격:1100 (350)" alt="헤르메스의 발걸음">
                      </div>
                      <div class="Item">
                        <img src="static/images/3812.png" class="Image tip"
                          title="죽음의 무도 입은 피해 적용이 잠시 미뤄집니다. 공격력 +80<br>재사용 대기시간 감소 +10% 고유 지속 효과: 적에게 가한 피해량의 15%만큼 체력을 회복합니다. 이 효과는 범위 피해에는 33%만 적용됩니다. 고유 지속 효과: 입은 피해의 30%가 3초 동안 지속되는 출혈 효과로 전환됩니다. 가격:3500 (625)</span>" alt="죽음의 무도">
                      </div>
                      <div class="Item">
                        <img src="static/images/3078.png" class="Image tip"
                          title="삼위일체 취급주의: 이 아이템만 갖추면 '엄청난 피해'를 줄 수 있죠... 체력 +250 마나 +250 공격력 +25 공격 속도 +40% 재사용 대기시간 감소 +20% 이동 속도 +5% 고유 지속 효과 - 격분: 기본 공격 시 2초간 이동 속도가 20 상승합니다. 적을 처치하면 이동 속도가 60 상승합니다. 원거리 챔피언의 경우 이동 속도 상승 효과는 절반만 적용됩니다. 고유 지속 효과 - 주문 검:  스킬을 사용하고 나면 다음 기본 공격 적중 시 기본 공격력의 200%에 해당하는 추가 물리 피해를 입힙니다. (재사용 대기시간 1.5초) 가격:3733 (333)"
                          alt="삼위일체">
                      </div>
                      <div class="Item">
                        <img src="static/images/3364.png" class="Image tip" title=" 예언자의 렌즈근처의 투명한 와드와 덫을 일정 시간 동안 차단합니다. 장신구 소지 개수는 1개로 제한됩니다. 사용 시:10초 동안 근처를 수색해 적 유닛이 숨어 있으면 경고를 보내며 주변의 투명한 덫과 와드를 드러내고, 추가로 와드를 무력화시킵니다. (재사용 대기시간 90~60초) " alt="예언자의 렌즈">
                      </div>
                      <div class="Item">
                        <img src="static/images/3742.png" class="Image tip tpd-delegation-uid-1" title="" alt="망자의 갑옷">
                      </div>
                      <div class="Item">
                        <img src="static/images/3065.png" class="Image tip tpd-delegation-uid-1" title="" alt="정령의 형상">
                      </div>
                      <div class="Item">
                        <img src="static/images/3052.png" class="Image tip tpd-delegation-uid-1" title="" alt="요림의 주먹">
                      </div>
                      <button class="Button OpenBuildButton tip tpd-delegation-uid-1" title="" type="button">
                        <img class="On" src="static/images/icon-buildblue-p.png">
                        <img class="Off" src="static/images/icon-buildblue-p.png">
                      </button>
                    </div>
                    <div class="Trinket">
                      <img src="static/images/icon-ward-blue.png">
                      제어 와드 <span class="wards vision">2</span></div>
                  </div>
                  <div class="FollowPlayers Names">
                    <div class="Team">
                      <div class="Summoner Requester">
                        <div class="ChampionImage">
                          <div class="Image16 __sprite __spc16 __spc16-20 tip" title="다리우스">다리우스</div>
                          <div class="Image20 __sprite __spc20 __spc20-20 tip" title="다리우스">다리우스</div>
                        </div>
                        <div class="SummonerName">
                          <a href="#" class="Link" target="_blank">술을갓바위</a>
                        </div>
                      </div>
                      <div class="Summoner ">
                        <div class="ChampionImage">
                          <div class="Image16 __sprite __spc16 __spc16-130 tip" title="바이">바이</div>
                          <div class="Image20 __sprite __spc20 __spc20-130 tip" title="바이">바이</div>
                        </div>
                        <div class="SummonerName">
                          <a href="#" class="Link" target="_blank">착한태준입니다</a>
                        </div>
                      </div>
                      <div class="Summoner ">
                        <div class="ChampionImage">
                          <div class="Image16 __sprite __spc16 __spc16-98 tip" title="라이즈">라이즈</div>
                          <div class="Image20 __sprite __spc20 __spc20-98 tip" title="라이즈">라이즈</div>
                        </div>
                        <div class="SummonerName">
                          <a href="#" class="Link" target="_blank">오히려 더 좋아</a>
                        </div>
                      </div>
                      <div class="Summoner ">
                        <div class="ChampionImage">
                          <div class="Image16 __sprite __spc16 __spc16-100 tip tpd-delegation-uid-1" title="">세나</div>
                          <div class="Image20 __sprite __spc20 __spc20-100 tip" title="세나">세나</div>
                        </div>
                        <div class="SummonerName">
                          <a href="#" class="Link" target="_blank">빨통누나</a>
                        </div>
                      </div>
                      <div class="Summoner ">
                        <div class="ChampionImage">
                          <div class="Image16 __sprite __spc16 __spc16-88 tip" title="파이크">파이크</div>
                          <div class="Image20 __sprite __spc20 __spc20-88 tip" title="파이크">파이크</div>
                        </div>
                        <div class="SummonerName">
                          <a href="#" class="Link" target="_blank">AFTV한가인</a>
                        </div>
                      </div>
                    </div>
                    <div class="Team">
                      <div class="Summoner">
                        <div class="ChampionImage">
                          <div class="Image16 __sprite __spc16 __spc16-2 tip" title="아칼리">아칼리</div>
                          <div class="Image20 __sprite __spc20 __spc20-2 tip" title="아칼리">아칼리</div>
                        </div>
                        <div class="SummonerName">
                          <a href="#" class="Link" target="_blank">예비역 강뱅장</a>
                        </div>
                      </div>
                      <div class="Summoner ">
                        <div class="ChampionImage">
                          <div class="Image16 __sprite __spc16 __spc16-83 tip" title="올라프">올라프</div>
                          <div class="Image20 __sprite __spc20 __spc20-83 tip" title="올라프">올라프</div>
                        </div>
                        <div class="SummonerName">
                          <a href="#" class="Link" target="_blank">화려한딜러</a>
                        </div>
                      </div>
                      <div class="Summoner ">
                        <div class="ChampionImage">
                          <div class="Image16 __sprite __spc16 __spc16-137 tip" title="신 짜오">신 짜오</div>
                          <div class="Image20 __sprite __spc20 __spc20-137 tip" title="신 짜오">신 짜오</div>
                        </div>
                        <div class="SummonerName">
                          <a href="#" class="Link" target="_blank">엘브사이공구르</a>
                        </div>
                      </div>
                      <div class="Summoner ">
                        <div class="ChampionImage">
                          <div class="Image16 __sprite __spc16 __spc16-15 tip" title="케이틀린">케이틀린</div>
                          <div class="Image20 __sprite __spc20 __spc20-15 tip" title="케이틀린">케이틀린</div>
                        </div>
                        <div class="SummonerName">
                          <a href="#" class="Link" target="_blank">탄약관의노예</a>
                        </div>
                      </div>
                      <div class="Summoner ">
                        <div class="ChampionImage">
                          <div class="Image16 __sprite __spc16 __spc16-136 tip tpd-delegation-uid-1" title="">제라스</div>
                          <div class="Image20 __sprite __spc20 __spc20-136 tip" title="제라스">제라스</div>
                        </div>
                        <div class="SummonerName">
                          <a href="#" class="Link" target="_blank">01022262996</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="StatsButton">
                    <div class="Content">
                      <div class="Item">
                        <a id="right_match" href="javascript:;" class="Button MatchDetail">
                          <span class="__spSite __spSite-194 Off"></span>
                          <span class="__spSite __spSite-193 On"></span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="GameDetail"></div>
              </div>
            </div>
          </div>
          
          <div class="GameMoreButton Box">
            <a href="#" onclick="#" class="Button">더 보기</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- left_all end -->
  <div class="right_all">

  </div>

  <!-- tab -->


</body>

</html>
